@import '/styles/_variables';

    .chatSpace {
        position: absolute;
        //right: 0px;
        bottom: 0px;
        width: 100vw;
        color: white;
        font-variant: small-caps;
        font-size: 20px;
        letter-spacing: 1px;
        text-shadow: 2px 2px 2px #000000;
    }

    .topSpace {
        position: relative;
        /* -webkit-animation:        slideUp 1s ease-out;
        -moz-animation:    slideUp 1s ease-out;
        -o-animation:      slideUp 1s ease-out; */
        /* opacity: 0;
        transition: opacity .5s;

        &.fadeIn {
            opacity: 1;
        } */
    }

    .bottomSpace {
        position: relative;
        left: 0px;
        transition: left 1s;

        &.fadeOut {
            left: -100px;
        }
        /* &.fadeOut {
            -webkit-animation:        bottomAway 2s;
            -moz-animation:    bottomAway 2s;
            -o-animation:      bottomAway 2s;
            //-webkit-animation-fill-mode: forwards;
        } */
    }


@keyframes slideUp {
    0% {bottom: -30px;}
    100% {bottom: 0px;}
}

@keyframes bottomAway {
    0% {left: 0px;}
    100% {left: -30px;}
}