@import '/styles/_variables';

.DiscordImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    aside.imageAside {
        width: 40%;
        height: 50%;
        position: relative;
        //opacity: 0;
        //animation: fadeInOut 11s ease-in-out forwards;

        &.tenor {
            width: 20%;
        }

        img.theImage {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .titleCard {
            position: absolute;
        }
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}