@import '/styles/_variables';



.chenzo_footer{
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 40px;
    z-index: 7;

    background-image: url('/images/goldpaper.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    &:before {
        content: "";
        background: url('/images/divider.svg') repeat-x 50% 50%/auto 100%;
        position: absolute;
        top: -5px;
        width: 100vw;
        height: 15px;
    }

}