@import '/styles/_variables';


.latest {
    padding: 7px 0 0 20px;
    color: white;
    font-variant: small-caps;
    font-size: 20px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px #000000;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 2s;

    .followers {
        display: inline;
        size: 0.9em;
        color: $gold_1;

        span {
            margin: 0 0 0 10px;
        }
    }

    &.hiding {
        opacity: 0;
    }
}