@import '/styles/_variables';

.vumeter {
    position: absolute;
    width: 375px;
    bottom: 88px; 

    .bgholder {
        .bg {
            width: 375px;
        }
    }
}


.controls {
    position: absolute;
    height: 122px;
    width: 100%;
    //background-color: rgba(0,0,255,0.5);
    overflow: hidden;;

    .needleHolder {
        position: absolute;
        left: 25%;
        bottom: -40px;
        height: 120px;
        z-index: 5;
        .needle {
            height: 113px;
            width: 3px;
            background-color: #555;
            transition-duration: 0.2s;
            transition-property: transform;
            transform-origin: bottom;
            transform: rotate(-40deg);

            &.active {
                ttransition-duration: 0.02s;
                
            }
        }

        &.right {
            left: 75%;
        }
    }

    .lights {
        position: absolute;
        left: 0;
        z-index: 10;
        height: 120px;
        z-index: 4;

        .light {
            position: absolute;
            height: 120px;
            width: 100px;
            left: 30px;
            bottom: -60px;
            //background: radial-gradient(circle at center, rgba(255,0,0,1) 0%, rgba(255,231,0,0) 70%);
            background: radial-gradient(circle at center, rgba(253,252,222,0.5) 10%,  rgba(255,231,0,0) 70%);
            //background: red;
            transform: skew(15deg, 15deg);
            transition-duration: 0.5s;
            transition-property: opacity;
            transition-timing-function: ease-in-out;
            opacity: 0;
            &.active {
                opacity: 0.9
            }

            &.two {
                left: 56px;
                transform: skew(-15deg, -15deg);
            }

            &.three {
                left: 214px;
            }

            &.four {
                left: 264px;
            }
        }
    }
}


.power {
    position: absolute;
    .left, .right {
        position: absolute;
        left: 18px;
        top: 24px;
        background-color: black;
        width: 158px;
        height: 95px;
        opacity: 0.2;
        transition-property: opacity;
        transition-duration: 0.5s;
    }

    .right {
        left: 199px;
    }
}