
.taskwindow {
    z-index: 30;
    position: absolute;
    top: 150px;
    left: 150px;
    width: 300px;
    display: none;


    .taskcontainer {
        background-image: url(/images/season-5-background.svg);
        padding-top: 47.95%;
        position: relative;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% 100%;
    }
}

